# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- R
- SQL
- Panda
- Numpy
- MySQL

Some of the popular languages that Data Scientists use are:Objectives:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Matplotlib
3. Numpy

|Data Science Tools|
|------------------|
|MySQL|
|MongoDB|
|Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minute=200
hour= minute/60
print('%2.1f' % hour)

3.3

## Author
Matahari Arsyabil MUhammad Choiri